/* init */
@import "./init/reset.css";
@import "./init/variables.css";
@import "./init/layout.css";
@import "./init/base.css";
/* 3rd party */
@import "./3rd-party/font-awesome.min.css";
/* components */
@import './components/button.css';
@import './components/choose-your-plan.css';
@import "./components/counter.css";
@import "./components/footer.css";
@import "./components/header.css";
@import "./components/hero.css";
@import './components/offered-services.css';
@import "./components/projects.css";

/* CUSTOM STILIUS SEKCIJOMS */
/* header */
.header-bar .btn {
   background-image: none; 
   color: var(--color-black);
   padding: 0 30px;
}
.header-bar .btn:hover {
    color: var(--color-blue);
    box-shadow: none;
 }
 
/* HERO */
/* ABOUT ME */
/* Offered Services */
/* ANIMATED NUMBER COUNTER */
/* PORTFOLIO */
/* TESTIMONIALS */
/* PRICE AREA */
/* RECENT BLOG */
/* BRANDS AREA */
/* footer */
