.brandsArea {
  background: var(--color-blue-gradiant);
  padding: 80px 0;
}

.brandsArea > .brandsRow {
  display: inline-block;
  justify-content: space-evenly;
}

.brandsArea > .brandsRow > .brand {
  cursor: pointer;
}

.brand img {
  opacity: 0.5;
}

.brand img:hover {
  opacity: 1;
}
