.btn {
    display: inline-block;
    padding: 11px 30px;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right,  #8490ff 0%,#62bdfc 100%);
}
.btn:hover {
    box-shadow: 0px 3px 8px #8490ff;
}