.containercolor {
    background-color: #F9F9FF;
}

.gap {
    padding-bottom: 40px;
}

.plans-item {
    transition: transform 400ms;
    text-align: center;
    color: blue;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
        
}

.plans-item:hover {
    display: block;
    cursor: pointer;
    color: #F9F9FF;
    background: linear-gradient(to right,  #8490ff 0%,#62bdfc 100%);
    transform: scale(1.05);
    transition: all 200ms;

}

.plans-item:hover .circle {
    cursor: pointer;
    background: #81AFFE;
    border-color: #9CC1FD;
    transition: 300ms;
}

.plans-item:hover .circle > h2 {
    color: #F9F9FF;
    transition: 300ms;
}

.plans-item:hover .pricetitle {
    cursor: pointer;
    color: #F9F9FF;
    transition: 300ms;
}

.plans-item:hover .priceprg {
    cursor: pointer;
    color: #F9F9FF;
    transition: 300ms;
}

.plans-item:hover .tblcenter {
    cursor: pointer;
    color: #F9F9FF;
    transition: 300ms;
}

.plans-item:hover .price {
    display: none;
    transition: 300ms;
}

.plans-item:hover .abtn {
    display:inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 25px;
    text-decoration: none;
    padding: 10px 95px;
    color:#000;
    background-color: #F9F9FF;

}


.circle {
    position: relative;
    margin: auto;
    margin-top: 40px;
    background: #EDEFFF;
    width: 140px;
    height: 140px;
    border-radius: 84px;
    border: 30px solid #E2E6FF;
}


.circle > h2 {
    position: relative;
    left: -5px;
    top: 11px;
    width: 90px;
    height: 90px;
    text-align: center;
    font-weight: 300;
    font-size: 37px;
    color: #000;
}


.pricetitle {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
}



.priceprg {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: grey;
    margin-top: 10px;
}


.tblcenter {
    padding-top: 10px;
    text-align: center;
    list-style: none;
    color: grey;
}

.tblcenter:hover {
    cursor: pointer;
    color: #F9F9FF;
}

.tblcenter > li:nth-of-type(2) {

    border-top: 0 solid grey;
}

.tblcenter > li:nth-of-type(3) {

    border-top: 0 solid grey;
}

.tblcenter > li {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
    
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
   
    
}

.price {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-top: 20px; 
    color: #000;

}

.abtn {
    display: none;
    
}






