.count {
    background: var(--color-blue-gradiant);
    padding: 100px 0;
}
.counter {
    display: inline-block;
    color: white;
    font-size: 14px;
}
h1 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    font-family: 'poppins';
    line-height: 40px;
}
p {
    text-align: center;
    font-family: 'poppins';
    font-weight: 300;
}
[class*='col-12'] {
    margin: 15px 0 15px 0;
}