.count {
    background: var(--color-blue-gradiant);
    padding: 115px 0;
}
.achievement-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 35px;
}
.achievement-list > .achievement {
    text-align: center;
}
.achievement-list > .achievement > .number {
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}
.achievement-list > .achievement > .subtitle {
    color: white;
    font-weight: 300;
}
@media (min-width: 767px) {
    .achievement-list {
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
    }
}
@media (min-width: 991px) {
    .achievement-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }
}