.area {
    padding-top: 50px;
    padding-bottom: 40px;
}

.footer {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.pafooter {
    font-weight: 300;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark-grey);
    margin-bottom: 18px;
    line-height: 23px;
}

.pafooter > .fa {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark-grey);
    padding: 0;
}
 
 .text {
     color: #8490ff;
 }
