.container.header-bar {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    padding: 10px;   
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-content .logo {
    height: 30px;    
}

.header-bar nav {
    display: flex;
    flex-direction: row;           
}

.header-bar nav a {
    text-decoration: none; 
    color: var(--color-black);         
}

.header-bar nav > .item {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: var(--color-black); 
}

.header-bar nav > a:last-child {
    margin-left: 15px;
}

.header-bar nav a:hover,
.header-bar nav > .item:hover,
.header-bar nav > .item.selected {
    color: var(--color-blue);
}

.header-bar nav .dropdown > .label {
    display: flex;
}
.header-bar nav .dropdown > .submenu {
    display: none;
}
.header-bar nav .dropdown:hover > .submenu {
    display: flex;
}

/*

.row > .hidden > .child:after {
    font-family: 'FontAwesome';
    content: '\f107';
    margin-left: 5px;

}
.row > .hidden > .child:hover:after {
    color: var(--color-blue);
}*/



/*
.header-bar > .row > .search >.fa  {
    padding: 5px 0;
    font-size: 20px ;
    line-height: 20px;
    color: var(--color-black);   
}

.header-bar > .row > .search >.fa:hover{
    color: var(--color-blue);
}


.mobile-menu {
    position: relative;
    width: 20px;
    height: 20px;
    font-size: 20px ;
      

}

.mobile-menu > .bar {
    position: absolute;
    top: 12px;
    right: 0;
    text-decoration: none;
    font-size: 20px ;
    color: var(--color-black);
    transform: translate(-7%, -60%);
    
}

.mobile-menu > .sear {
    position: absolute;
    top: 12px;
    right: 30px;
    text-decoration: none;
    font-size: 20px ;
    color: var(--color-black);
    transform: translate(-25%, -60%);
    
}

*/



