.hero {
    margin-top: 100px;
    flex-wrap: wrap;
}

.this-is-me {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.name {
    font-size: 60px;
    text-transform: uppercase;
    margin: 18px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraph {
    font-weight: 300;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark-grey);
    margin-bottom: 18px;
    line-height: 23px;
}

.img {
    max-width: 100%;
    height: auto;
}

.details {
    font-size: 30px;
    text-transform: uppercase;
    margin: 18px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 990px) {
    .this-is-me {
        font-size: 32px;
    }
}