.h:hover .fa {
  color: #8490ff;
  transition: 300ms linear;
}

.h:hover .offservices {
  color: #8490ff;
  transition: 300ms linear;
}

.titleservices {
    display: flex;
    justify-content:center;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.fa {
    display: flex;
    justify-content:center;
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 20px;
 }

/* .fa:hover {
    color:#8490ff;
    transition: 300ms linear; 
} */

.offservices {
    display: flex;
    justify-content:center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.h1offsersize {
    font-size: 18px;
    font-weight: 600px;
}

.pservices {
    font-size: 14px;
    text-align: center;
    padding: 0 46px;
    color: grey;
    font-family: 'Poppins', sans-serif;
   
}

@media screen and (min-width: 601px) {
    .titleservices {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .titleservices {
      font-size: 30px;
    }
  }