@font-face {
  src: url(../../fonts/poppins/Poppins-Black.ttf);
  font-family: "poppins";
  font-weight: 900;
}
@font-face {
  src: url(../../fonts/poppins/Poppins-ExtraBold.ttf);
  font-family: "poppins";
  font-weight: 800;
}
@font-face {
  src: url(../../fonts/poppins/Poppins-Bold.ttf);
  font-family: "poppins";
  font-weight: 700;
}
@font-face {
  src: url(../../fonts/poppins/Poppins-SemiBold.ttf);
  font-family: "poppins";
  font-weight: 600;
}
@font-face {
  src: url(../../fonts/poppins/Poppins-Medium.ttf);
  font-family: "poppins";
  font-weight: 500;
}
@font-face {
  src: url(../../fonts/poppins/Poppins-Regular.ttf);
  font-family: "poppins";
  font-weight: 400;
}
@font-face {
  src: url(../../fonts/poppins/Poppins-Light.ttf);
  font-family: "poppins";
  font-weight: 300;
}
@font-face {
  src: url(../../fonts/poppins/Poppins-ExtraLight.ttf);
  font-family: "poppins";
  font-weight: 200;
}
@font-face {
  src: url(../../fonts/poppins/Poppins-Thin.ttf);
  font-family: "poppins";
  font-weight: 100;
}

.projects > .container {
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.projects > .container > .row {
  padding-top: 70px;
  padding-bottom: 120px;
}

.center {
  text-align: center;
}

.title {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  color: #222222;
  line-height: 40px;
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

/* padding-left: 15px;
padding-right: 15px;
padding-bottom: 70px; */

.subtitle {
  font-family: "poppins", sans-serif;
  color: #777777;
  font-size: 14px;
  line-height: 20px;
}

#filters {
  vertical-align: middle;
}

/*nuo 733 breakpoint-filtru paddingas visom kryptim tampa 6px*/

#filters > .btn {
  font-family: "poppins", sans-serif;
  line-height: 15px;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  padding: 18px 15px;
  border: none !important;
  display: inline-flex;
  cursor: pointer;
}

.galleryInner {
  padding: 20px 0;
}

/* galerija: nuo sm i md pasikeicia dydis(150x150 -> 209x209). */

/* #galleryContainer {
}

#gallery-row-first > * {

}

#gallery-row-second > * {

} */

/* .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(209px, 1fr));
  grid-gap: 5px;
} */
