/*TITLE AREA*/
.projects > .container {
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.projects > .container > .row > .menuContent {
  padding: 0 15px 45px;
}

.galleryTitle {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  color: #222222;
  line-height: 40px;
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.gallerySubtitle {
  font-family: "Poppins", sans-serif;
  color: #777777;
  font-size: 14px;
  line-height: 20px;
}
/* FILTER AREA*/

#filters {
  vertical-align: middle;
  margin-bottom: 30px;
}

#filters > .filter {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: var(--color-black);
  line-height: 15px;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  padding: 18px 15px;
  border: none;
  outline: none;
  display: inline-flex;
}

#filters > .filter:hover {
  color: var(--color-blue);
}

/*GRID AREA*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.grid > div {
  background-color: transparent;
  padding: 1rem;
  display: grid;
  position: relative;
  margin: 0;
}

.grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.grid > div::before,
.grid > div > img {
  grid-area: 1 / 1 / 2 / 2;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.middle:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  max-width: 100%;
  top: 0;
  bottom: 35px;
  right: 0;
  left: 0;
  margin: 0;
}

.grid > div > img:hover {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0.3;
}

.galleryInner {
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
  padding: 10px !important;
  margin: 0 !important;
}
