.testimonials-container {
    padding: 140px 0 120px 0;
}
.header-section {
    text-align: center;
    padding: 0 10px;
    font-weight: 300;
}
.header-section > h1 {
    margin-top: -30px;
    font-weight: 600;
    font-size: 36px;
}
.header-section > p {
    font-weight: 300;
}
.testimonials {
    position: relative;
}
.overflow-box {
    overflow: hidden;
}
.testimonial-box {
    margin: 70px 0 0 0;
    cursor: pointer;
    padding: 25px;
    background-color: white;
    user-select: none;
}
.mini-logo {
    float: left;
    margin-left: 5px;
    -webkit-user-drag: none;
}
.text-box {
    padding: 0 20px 0 68px;
    word-break: keep-all;
    text-align: left;
}
.text-box > p {
    font-weight: 300;
    line-height: 22px;
}
.text-box > h1 {
    margin-top: 12px;
    line-height: 30px;
}
.testimonial-box:hover .header-hover {
    color: #8490ff;
}
.arw-position {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.testimonial-arrow {
    font-size: 18px;
    justify-content: initial;
    color: #777777;
    padding: 12px 17px;
    background-color: white;
    border: 1px solid var(--color-grey);
    cursor: pointer;
    box-shadow: -14px 14px 20px  rgb(157 157 157 / 20%);
}
.testimonial-arrow:hover {
    color: white;
    background-color: #8490ff;
    transition: 300ms;
}
.up, .down {
    border: none;
}
.up:focus, .down:focus {
    outline: none;
}
@media (max-width: 575px) {
    .testimonials-list {
        display: grid;
        grid-template-columns: 100% 100% 100% 100% 100%;
        justify-content: center;
        gap:10px
    }
}
@media (min-width: 575px) {
    .testimonials-list {
        display: grid;
        grid-template-columns: 540px 540px 540px 540px 540px;
        justify-content: center;
        gap: 20px;
    }
    .testimonials {
        margin-left: calc(50% - 270px);
        margin-right: calc(50% - 270px);
    }
}
@media (min-width: 767px) {
    .testimonials-list {
        display: grid;
        grid-template-columns: 345px 345px 345px 345px;
        gap: 30px;
        justify-content: center;
    }
    .testimonials {
        width: 720px;
        margin-left: calc(50% - 360px);
        margin-right: calc(50% - 360px);
    }
}
@media (min-width: 991px) {
    .testimonials-list {
        display: grid;
        grid-template-columns: 465px 465px 465px 465px;
        gap: 30px;
        justify-content: center;
    }
    .testimonials > .arw-position {
        margin: 0;
        display:  block;
        position: absolute;
        width: 44px;
        top: 116px;
        right: -55px;
        box-shadow: -14px 14px 20px  rgb(157 157 157 / 1%);
    }
    .testimonials {
        width: 960px;
        margin-left: calc(50% - 480px);
        margin-right: calc(50% - 480px);
    }
}
@media (min-width: 1199px) {
    .testimonials-list {
        display: grid;
        grid-template-columns: 555px 555px 555px 555px;
        gap: 30px;
        justify-content: center;
    }
    .testimonials {
        width: 1140px;
        margin-left: calc(50% - 570px);
        margin-right: calc(50% - 570px);
    }
}
@media (max-width: 230px) {
    .mini-logo{
        display: none;
    }
    .text-box {
        padding: 0 5px 0 5px;
    }
}